html,
body {
  margin: 0px;
}

.borderStyle {
  border: groove black;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.header {
  background-color: grey;
  padding: 2px;
  text-align: center;
}

#buttonStyle {
  margin-right: 30px;
  margin-bottom: 10px;
  position: relative;
  bottom: 5px;
}

#mainContent {
  justify-content: left;
  text-align: left;
}

#taskButton {
  margin: 10px;
  padding-left: 100px;
  padding-bottom: 50px;
}

#orderedList {
  text-align: center;
  width: 15%;
  margin-left: 7%;
  font-size: 25px;
}

#delButton {
  text-align: center;
  position: relative;
  margin-left: 7%;
  bottom: 2px;
  font-size: 15px;
  font-weight: bold;
  width: fit-content;
}

#completeTask {
  position: relative;
  margin-left: 30px;
  bottom: 2px;
  font-size: 15px;
  font-weight: bold;
  width: fit-content;
}

.seeTask {
  position: relative;
  margin-left: 30px;
  bottom: 2px;
  font-size: 15px;
  font-weight: bold;
  width: fit-content;
}

#section1 {
  justify-content: left;
  text-align: center;
  width: fit-content;
  height: 100%;
  margin-left: 160px;
}

#section2 {
  margin-left: 200px;
}

#section3 {
  width: 900px;
  height: 900px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#map {
  height: 900px;
  width: 900px;
  border: solid;
}
