html,
body {
  margin: 0px;
}

.borderStyle {
  position: relative;
  left: 20px;
  border: groove black;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.header {
  background-color: grey;
  padding: 2px;
  text-align: center;
}

#buttonStyle {
  margin-right: 30px;
  margin-bottom: 10px;
  position: relative;
  bottom: 5px;
}

#mainContent {
  position: absolute;
  height: 100%;
  justify-content: left;
  text-align: left;
}

#taskButton {
  margin: 10px;
  padding-left: 100px;
  padding-bottom: 50px;
}

.orderedList {
  position: relative;
  text-align: center;
  width: 350px;
  font-size: 25px;
}

.delButton {
  text-align: center;
  position: relative;
  font-size: 15px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
}

.completeTask {
  position: relative;
  margin-left: 20px;
  /* bottom: 2px; */
  font-size: 15px;
  font-weight: bold;
  width: fit-content;
}

.seeTask {
  position: relative;
  margin-left: 20px;
  /* bottom: 2px; */
  font-size: 15px;
  font-weight: bold;
  width: fit-content;
}

#section1 {
  background-color: silver;
  position: static;
  justify-content: center;
  text-align: center;
  width: 400px;
  border: solid black;
  height: fit-content;
  margin-left: 140px;
  padding-top: 1px;
  padding-bottom: 20px;
}

#section2 {
  position: absolute;
  margin-left: 200px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#section3 {
  /* width: 900px;
  height: 900px; */
  position: fixed;
  margin: auto;
  left: 800px;
  right: 0%;
  top: 10%;
  bottom: 0;
}

#map {
  height: 800px;
  width: 800px;
  border: solid;
}
